.box{
    color: white;
    font-size: 40px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 10px
}

.box1{background: blueviolet}
.box2{background: yellow}
.box3{background: rebeccapurple}
.box4{background: red}
.box5{background: green}
.box6{background: pink}
.box7{background: brown}
.box8{background: yellowgreen}
.box9{background: gray}
.box10{background: paleturquoise}
.box11{background: magenta}
.box12{background: orange}
.box13{background: orangered}


/* FLex Wraps and Ordering */


/* .container{
    display: flex;
    display: inline-flex;
    border: 10px solid goldenrod;
    min-height:100vh;
    flex-direction: column-reverse;
    flex-direction: row;
    flex-wrap:wrap;
    flex-wrap:wrap-reverse;
}

.box{
    width: 22%; 
    margin: 10px;
    flex: 1;
    order: 1;
} */

/* .box3{
    order:2;
}
.box7{
    order:2;
} */


/* Flex Justify COntent */

/* .container{
    display: flex;
    border: 10px solid goldenrod;
    justify-content: space-between; 
    justify-content: space-around;
    flex-direction: column;
    min-height: 100vh;
} */


/* Centring With Align items */
/* .container{
    display: flex;
    border: 10px solid goldenrod;
    height: 100vH;
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: baseline;
}
 */

 /* Align Content.  */
 /* .container{
    display: flex;
    border: 10px solid goldenrod;
    height: 100vH;
    align-content: center;
    align-content: flex-start;
    align-content: flex-end;
    align-content: stretch;
    flex-wrap: wrap;
} */
/* .box{
    width: 24%;
} */

/* Align Self Overriding each align items with self Boxes */
/* .container{
    display: flex;
    border: 10px solid goldenrod;
    height: 100vH;
    align-items: flex-start;
}

.box2 {
    padding-bottom: 50px;
}
.box3 {
    padding-bottom: 70px;
    align-self: stretch;
} */

/* FLex Box Sizing Property */

/* .container{
    display: flex;
   
}
.box{
    flex: 1;
}
.box3{
    flex: 2;
}
.box5{
    flex: 3
} */



/* Flex Grow Flex Basis Flex Shrink */

/* .container{
    display: flex;
   
}
.box1{
    flex-basis:  400px;
    flex-grow: 1;
    flex-shrink: 1;
}
.box2{
    flex-basis:  400px;
    flex-grow: 10;
    flex-shrink: 10;
} */

/* Flex Basis Wrapping Work Together */

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 10px solid goldenrod;
    height: 100vh;
}
.box{
    flex-basis:  250px;
    flex-grow: 1;
 
}

.box4{
    flex-grow: 6;
}